.base{ width: 100%; margin: 0 auto; padding: 0;}

.home-logo{ width: 100%; height: 100px; background: #525252;}

.header{ width: 100px; height: 100px; float: left;}

.header img{ width: 50px; margin: 20px 0 0 20px;}

.home-banner{ width: 100%;}

.home-banner img{ width: 100%;}

.login{ float: right; height: 50px; margin: 28px 20px 0 0;}

.footer{ width: 100%; height: 100px; bottom: 0px; position: fixed; background: #525252;}

.footer p{ width: 100%; height: 25px; line-height: 25px; text-align: center; color: #d8d8d8;}

.nav{ width: 210px; background: #525252; border-top: 1px solid #d8d8d8; position: fixed; display: none; top: 0; margin-top: 100px; z-index: 1;}

.nav li{ width: 100%; height: 85px; line-height: 80px; color: #d8d8d8; font-size: 22px; font-weight: 400; text-indent: 1.7em; border-bottom: 1px solid #d8d8d8;}

.zhezhao{ width: 100%; background: #000; filter:alpha(Opacity=50); -moz-opacity:0.5;opacity: 0.5; position: fixed; top: 0; margin-top: 100px; display: none;}

.hotm-neiron{ width: 750px; height: 400px; margin: 0 auto; margin-top: 40px;}

.hotm-neiron ul{ width: 99%; margin: 0 auto; overflow: hidden;}

.hotm-neiron ul li{ float: left; width: 30%; text-align: center; height: 400px; margin-right: 34px; border-radius: 5px; border: 1px solid #ccc; }

.hotm-neiron ul li img{ margin-top: 30px;}

.hotm-neiron ul li h3{ margin-top: 30px; color: #f34331; font-size: 18px;}

.hotm-neiron ul li p{ width: 100%; line-height: 25px; font-size: 14px; color: #888; margin-top: 30px;}

.hotm-neiron ul li button{ width: 130px; height: 40px; background: #f34331; border: 0; margin-top: 40px; border-radius: 3px; color: #d8d8d8;}

.zengjia_h3 { width: 750px; height: 40px; text-indent: 0.3em; line-height: 40px; margin: 30px auto 0; font-size: 22px; color: #f34331;}

.zengjia,.lianxi { width: 750px; height: 365px; clear: both; margin: 0 auto; border: 1px solid #e3e3e3; background: url(../images/bj.png); border-left: 0; border-right: 0;}

.zengjia ul { width: 100%; height: 365px;}

.zengjia ul li { height: 365px; width: 50%; float: left;}

.zengjia ul li p { width: 94%; line-height: 44px; margin-left: 3%;}

.zengjia ul li h3 { width: 94%; height: 40px; line-height: 40px; margin-left: 3%;}

.fei{ width: 100%; height: 140px;}

.lianxi{ height: 380px;}

.lianxi p{ width: 96%; margin-left: 2%; line-height: 50px; margin-top: 10px;}

.lianxi p em{ font-size: 20px; font-weight: bold;}

.lianxi p span{ margin-right: 20px; font-size: 18px;}

.map{ width: 750px; height:390px; margin: 0 auto;}

.fuwu{ width: 750px; overflow: hidden; margin-top: 50px; margin: 0 auto;}

.left-img{ margin-left: 30px; float: left;}

.fuwu-p{ line-height: 42px; float: left; margin-left: 20px;}

.fuwu-p span{ display: block; margin-left: 38px;}

.zou_jin{ width: 750px; margin: 0 auto; margin-top: 30px; height: 80px; border-top: 1px solid #ccc;}

.zou_jin li{ width: 50%; float: left; height: 80px; text-align: center; line-height: 80px; font-size: 20px; border-bottom: 1px solid #ccc;}

.jiesao,.jiagou{ width: 96%; margin-left: 2%; margin-top: 20px;}

.jiesao{ background-image: url(../images/bj.png);background-size: 100%;}

.jiesao p{ width: 100%; line-height: 30px; text-indent: 2em; margin-top: 30px; font-size: 12px;}

.jiesao span{ display: block; line-height: 35px; width: 100%; text-align: center; font-size: 12px;}

.jiagou{ display: none;}

.jiagou h3{ width: 100%; height: 40px; line-height: 40px; font-size: 16px;}

.jiagou img{ width: 100%; margin-top: 30px;}

.xiangmu{ width: 750px; margin: 0 auto; border-top: 1px solid #ccc; overflow: hidden;}

.xiangmu_ul{ width: 96%; overflow: hidden; margin: 0 auto;}

.xiangmu_ul li{ width: 218px; height: 275px; ; border: 1px solid #ccc; float: left; margin: 30px 30px 0 0;}

.xiangmu_ul li div{ width: 218px; height: 218px; border-radius: 3px;}

.xiangmu_ul li div img{ width: 100%; border-radius: 3px;}

.xiangmu_ul li h3{ width: 100%; height: 50px; text-align: center; line-height: 50px;}



























